<div class="content">
  <div id="friend-search-form">
    <%= form_tag(friendships_path, method: :get, id: "friend-search") do %>
    <%= text_field_tag(:search_term, params[:search_term], placeholder: "Search for friends") %>
    <% end %>
  </div>  
  <div id="friend-search-results">
  </div>  
</div>