<div id="friend-dropdown-form">
  <%= form_for :friendship, url: friendships_path do |f| %>
  <%= f.collection_select(:friend, @friends, :id, :full_name, include_blank: true, label:false)  %>
  <%= f.submit "Add friend" %>
  <% end %>
</div>  