<div id="confirm-warn-modal" class="popupContainer">

  <div id="confirm-warn">

    <header class="popupHeader">
      <h3 class="header_title">Confirmation</h3>
      <div class="modal_close"><%= image_tag("grey-close.png") %></div>
    </header>
 

    <section class="popupBody">
     <%= f.submit "Redeem", class: "button tiny" %>
     <% end %>
   </section>
 </div>

</div>
