<div class="row low_content add_content_padding">
  <div class= "small-12 column">
<% if flash[:error] %>
  <h1><%=flash[:error]%></h1>
  <hr>
<% else  %>
  <% if flash[:notice] %>
   <h1 class="flash-notice"><%=flash[:notice]%></h1>
   <hr>
  <% end %>
  <div class="success-panel text-center">
    <p>Redemption Confirmed. Please tip your barista! <3 </p>
  </div>
<% end %>
<hr>
  </div>
</div>
