<%= content_tag :div, id:"cafe_div_id_#{cafe.id}" do %>
  <figure>
    <%= link_to cl_image_tag(cafe.image_url, :width => 300, :height => 100, :crop => :fill ), cafe %>
    <figcaption>
      <h4><%= link_to cafe.name, cafe %></h4>
      <span>
        <div class="cafe_menu hide">
          <% cafe.menu_items.each_with_index do |item, i| %>

          <li class="accordion-navigation">
            <a href="#">
            <%= render partial: "menu_items/display_item" ,locals: {menu_item: item} %>
            </a>
          
          </li>
          <% i += 1 %>        
          <%end%>
        </div>
      </span>
      <br>
    </figcaption>
  </figure>
<% end %>