<hr>
<div id="cafe_profile" class="row">
  <div class="small-12 medium-12 medium-centered columns">

    <table id="cafe_gifts_table">
      <thead>
        <th class="date-row">Date</th>
        <th>Sender</th>
        <th>Receiver</th>
        <th>Confirmation Code</th>
        <th>Redeeemed?</th>
        <th>Payment Status</th>
        <th>Gross</th>
        <th>Net</th>
      </thead>
      <tfoot>
        <tr>
          <th colspan="6" style="text-align:right">Page Total:</th>
          <th></th>
          <th></th>
        </tr>
      </tfoot>

      <tbody>
        <%= render partial: 'cafes/coffee_gift', collection: @coffee_gifts, as: :gift %>
      </tbody>
    </table>

  </div>
</div>

<input type="hidden" value="<%=@cafe.id%>" id="cafe_id">
