<hr>
<div id="cafe_profile" class="row">
  <div class="small-12 medium-9 medium-centered columns">

    <table id="cafe_gifts_table">
      <thead>
        <th class="date-row">Date</th>
        <th>Sender</th>
        <th>Receiver</th>
        <th>Confirmation Code</th>
        <th>Gross</th>
        <th>Net</th>
        <th>Redeeemed?</th>
        <th>Payment Status</th>
      </thead>
      <tbody>
        <%= render partial: 'cafes/coffee_gift', collection: @coffee_gifts, as: :gift %> 
      </tbody>  
    </table>    

 </div>
</div>

<input type="hidden" value="<%=@cafe.id%>" id="cafe_id">
