<div class="row low_content">
  <div class="small-12 medium-10 medium-offset-1 columns">

    <h1 class="add_title_padding"><%=@cafe.name%></h1>
    <% if @cafe.owner?(current_cafe) %>
    <%= render partial: "profile_view" %>
    <% else %>
     <%= cl_image_tag(@cafe.image_url, :width => 1600, :height => 700, :crop => :fill) %>
     <hr>
    <%= render partial: "user_view" %>
    <% end %>
  </div>
</div>
