$header-bar-color: #f4f4f4;;
$body-color: #e1e3e4;
$raspberry-logo-color: #D15271;
$maroon-text-color: #5e0231;
$light-blue: #60C2D2;
$darker-blue: #49A4B3;
$steel: #666666;

footer {
  clear: both;
  border-top: $body-color 1px solid;
  p {
    margin-top: 20px;
    font-size: 10pt;
    color: $steel;
  }
}
