$header-bar-color: #f4f4f4;;
$body-color: #e1e3e4;
$lightest-gray: #f6f6f6;
$raspberry-logo-color: #D15271;
$maroon-text-color: #5e0231;
$light-blue: #60C2D2;
$darker-blue: #49A4B3;



body {background-color: $body-color;}

.border {
  border-style: solid;
  border-width: 2px;

}

.row { background-color: $body-color; }

.cafes-container {background-color: $body-color;}

.cafes-list-view{
  overflow-y: scroll;
  height: 100vh;
}
.cafes-map-view{
  height: 100vh;
}

.add_title_padding {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

.add_content_padding {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 4.5%;
}

.add_left_padding {
  padding-left: 2%;
}

.coffee_padding {
	padding-left: 4%;
}

#received, #given, #search-wrapper {
	background-color: $header-bar-color;
}

.add_margin {
  margin: 3%;
}

/* Cafe Profile Table */

.date-row {
    padding: 0px 2px
}

#cafe_gifts_table_wrapper {
  font-family: 'Nunito', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: lighter;
}

.card-expiry-month {
  width: 50px
}

.card-expiry-year {
  width: 60px
}

/* Redemption Confirmation */

.pricing-table {
  li:first-child {
    padding-top: 25px;
  }
  .price {
    @media(max-width: 40em) {
      font-size: 1.4em;
    }
  }
  .smaller {
    font-size: 1.5em;
    @media(max-width: 40em) {
      font-size: 1.2em;
    }
  }
}

.redeem-button {
  background-color: $lightest-gray;
  padding-top: 20px;
  text-align: center;
}

/* Redemption Modal */

#confirm-warn-modal {
  .popupHeader, .popupBody {
    text-align: center;
  }
  .popupBody p:nth-child(2) {
    margin-top: -10px;
    font-size: 0.9rem;
  }
  input[type="submit"] {
    margin-top: 10px;
  }
}
