$header-bar-color: #f4f4f4;;
$body-color: #e1e3e4;
$lightest-gray: #f6f6f6;
$raspberry-logo-color: #D15271;
$maroon-text-color: #5e0231;
$light-blue: #60C2D2;
$darker-blue: #49A4B3;
$steel: #666666;

.homepage {
  margin: 4% auto;
  .registration-wrapper {
    margin-top: 4%;
  }
}

#lean_overlay {
  position: fixed;
  z-index:100;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: #000;
  display: none;
}

.popupContainer{
  display:none;
	position:absolute;
	width:330px;
	height: auto;
	left:45%;
	top:80px;
	background: #FFF;

  .popupErrors {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: -15px;

    p {
      font-size: 8pt;
      color: red;
      line-height: 0.5;
    }
  }
}

#cafe-login {
  display:none;
}

#modal_trigger  {
  margin: 100px auto;
  width: 100px;
  display: block;
}

.header_title {
  font-size: 12pt;
}

.btn  {
  padding: 10px 20px;
  background:  #F4F4F2;
}

.btn_red  {
  background:  #ED6347;
  color:  #FFF;
}

.btn:hover  {
  background:  #E4E4E2;
}

.btn_red:hover  {
  background:  #C12B05;
}


.btn  {
  color: #666;
  text-align:  center;
  text-decoration:  none;
}

a.btn_red  {
  color:  #FFF;
}

.one_half  {
  width: 50%;
  display:  block;
  float: left;
}

.one_half.last  {
  width: 45%;
  margin-left: 5%;
}

.popupHeader  {
  font-size: 16px;
  text-transform:  uppercase;
}

.popupHeader  {
  background: #F4F4F2;
  position: relative;
  padding: 10px 20px;
  border-bottom: 1px solid #DDD;
  font-weight: bold;
}

.popupHeader .modal_close  {
  position:  absolute;
  right:  0;
  top: 0;
  padding: 10px 15px;
  cursor:  pointer;
  color: #aaa;
  font-size: 16px;
  width: 12%;
  height: 30%;
}


.modal_close img{
 width: 100%;
 z-index: 1;
}

.popupBody  {
  padding: 20px;
}

.logo-img {
  width: 80%;
  margin: 0 0 0 16%;
}

#registration-forms {
  margin: 0;
  text-align: center;
  h1 {
    font-weight: bold;
    font-size: 30pt;
  }
  h4 {
    font-size: 16pt;
  }
  #filler {
    height: 75px;
  }
  #register {
    margin-top: 25px;
    #fb-login-wrapper {
      @media(min-width: 40em) {
        margin-top: -15%;
      }
    }
    #fb-root {
      text-align: center;
    }
    #fb-register-button {
      background-color: $light-blue;
      border: $darker-blue;
    }
    #fb-register-button:hover {
      background-color: $darker-blue;
      border: $darker-blue;
    }
    img {
      margin-bottom: 10px;
      border-radius: 60px;
    }
    #fb-user-info {
      color: $steel;
      p:first-child {
        margin: 0;
      }
    }
    .fb-register-form {
      width: 100%;
      form {
        display: inline-block;
      }
    }
  }
  #email-register {
    margin-top: -30px;
    p {
      color: $maroon-text-color;
    }
    a {
      color: $light-blue;
    }
    a:hover {
      color: $darker-blue;
    }
  }
  .email-register-form {
    display: none;
  }
  .email-register-style {
    display: inline-block !important;
    width: 60%;
    @media(min-width: 40em){
      margin-top: -15px;
    }
    @media(max-width: 40em){
      margin-top: 15px;
    }
    .button {
      margin-top: 10px;
    }
  }
}
