$header-bar-color: #f4f4f4;;
$body-color: #e1e3e4;
$raspberry-logo-color: #D15271;
$maroon-text-color: #5e0231;
$light-blue: #60C2D2;
$darker-blue: #49A4B3;
$gray-text: #666666;
$header-gray: #EDEDED;
$border-gray: #DDD;

.form-container {
  @media(max-width: 40em) {
    padding: 0;
  }
}
.transaction-container {
  margin-top: 7%;
  border: 1px solid $light-blue;
  background-color: white;
  .row {
    background-color: white !important;
    @media(max-width: 40em) {
      padding: 0 3%;
    }
    .cvc {
      padding-left: 0;
    }
    .month-year {
      @media(max-width: 40em) {
        padding-left: 0;
      }
    }
    .card-expiry-year {
      width: 30%;
    }
    .card-expiry-month {
      width: 20%;
    }
  }
  .transaction-header {
    background-color: $header-gray;
    border-bottom: 1px solid $border-gray;
    border-top: 1px solid $light-blue;
    margin-top: -1px;
    padding: 3% 7% 1% 7%;
  }
  .transaction-body {
    padding: 3% 7%;
  }
  h1 {
    text-transform: uppercase;
    text-align: center;
    @media(max-width: 40em) {
      font-size: 22pt;
    }
  }
  h3 {
    font-family: 'Nunito', sans-serif;
    color: $raspberry-logo-color;
    font-size: 12pt;
    margin-bottom: 20px;
    @media(max-width: 40em) {
      font-size: 10pt;
    }
  }
  label, select {
    font-family: 'Nunito', sans-serif;
    color: $gray-text;
    background-color: white;
    @media(max-width: 40em) {
      font-size: 10pt;
    }
  }
  .errors {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 10pt;
    color: red;
  }
  .transaction-button {
    text-align: center;
    button {
      margin-top: 25px;
    }
  }
}
