<h1>FB Login</h1>

<!-- <p>></p> -->

<div id='fb-root'>

  <%= link_to 'Sign in with Facebook', '#', id: 'login-button' %>
  <!-- <fb:login-button onlogin="fbLogin();"></fb:login-button> -->
  <p id='fb-connect'></p>

  <p id='results'></p>

</div>
